@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
body {
  text-align: center;
  align-items: center;
  background-color: rgb(68, 68, 68);
  display: flex;
  flex-direction: column;
}

button {
  padding: 1em 2em 1em 2em;
  color: yellow;
  background-color: transparent;
  text-align: center;
  margin-left: 1em;
}
button:hover{
  background-color: #717171;
  transition: 900ms;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-bar * {
  color: red;
  text-decoration: none;
}
#save-btn {
  background-color: red;
  color: yellow;
  padding: 1em 2rem 1em 2rem;
  box-shadow: 6px 2px 0 2px black;
  margin-bottom: 3em;
}
.agree-container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 10vh;

}
.agree-container label {
  color: red;
  font-size: larger;
  font-weight: bolder;
  padding: 0 0 9px 0;
}
#terms-agreed{
  margin-right: 5px;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  background-color: purple;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid red;
  outline-offset: max(2px, 0.15em);
}
select {
  background-color: black;
  color:yellow;
}
#edit-select {
  margin-bottom: 3em;
}
::-webkit-scrollbar {
  width: 15px;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2D3939;
  width: 20px;
  border-radius: 10px;
}
p {
  line-height: 50px;
  letter-spacing: 2px;
  font-family: 'Tapestry';
  font-weight: bold;
  font-size: 20px;
}
h2 {
  font-family: 'Tapestry';
  letter-spacing: 5px;
}
h3 {
  font-family: 'Tapestry';
  letter-spacing: 5px;
}
input[type='text']{
  background-color: black;
  padding: 1em 0 1em 0;
  color: white;
}



